Repository jaredpalmer/formik, pull requests merged in 2019-02, with the labels that each got.

#1305 Add example usage of the second parameter of the onSubmit method.
  docs/guides/typescript.md
Labels: Component: Docs, in progress, typescript

#1311 Fix arrayHelper `insert` and alterTouched falsy behavior
  src/FieldArray.tsx
Labels: Component: FieldArray, Type: Bug

#1263 Add initialStatus
  src/Formik.tsx
  src/types.tsx
Labels: Type: RFC, pinned

#1321 Finish initialStatus
  docs/api/formik.md
  docs/api/withFormik.md
  src/withFormik.tsx
Labels: Type: Enhancement
