Repository jaredpalmer/formik, pull requests merged in 2019-04, with the labels that each got.

#1216 Improve handling of non event values in handleChange and handleBlur
  .all-contributorsrc
  README.md
  src/Formik.tsx
  src/types.tsx
  src/utils.ts
Labels: Component: Formik, Type: Bug, Type: Enhancement, react-native

#1399 [v2] Revert missing enableReinitialize in useFormik hook
  .size-snapshot.json
  src/Formik.tsx
Labels: 2.0, Component: Formik, Type: Regression

#1410 Add initialXXXX and fix isValid
  docs/api/formik.md
  docs/api/useField.md
  docs/api/withFormik.md
  src/Formik.tsx
  src/types.tsx
  src/withFormik.tsx
  test/Formik.test.tsx
  test/withFormik.test.tsx
Labels: 2.0
