Repository jaredpalmer/formik, pull requests merged in 2019-06, with the labels that each got.

#1559 [v2] Upgrade to TS 3.5.x
  package.json
  src/Formik.tsx
  src/withFormik.tsx
  test/Formik.test.tsx
  yarn.lock
Labels: Focus: TypeScript

#1575 [v2] Breaking: Change async validate to resolve errors
  docs/api/formik.md
  docs/api/useField.md
  docs/guides/validation.md
  src/Field.tsx
  src/Formik.tsx
  test/Field.test.tsx
  test/Formik.test.tsx
Labels: Component: Formik, Type: Breaking Change

#1555 [v2] Add support for checkboxes and multiple select
  src/Field.tsx
  src/Formik.tsx
  src/types.tsx
  src/utils.ts
Labels: Component: FastField, Component: Field, Component: Formik, Type: Enhancement, Type: Feature Request, v2

#1317 FastField: fallback to default shouldComponentUpdate implementation even if custom shouldUpdate implementation returns false (#1238)
  src/FastField.tsx
Labels: stale

#1578 Run low-pri validation at a given field / path in schema
  package.json
  src/Formik.tsx
  yarn.lock
Labels: Component: Formik, Type: Breaking Change
