Repository jaredpalmer/formik, pull requests merged in 2020-10, with the labels that each got.

#2556 Extend setValue to use React.SetStateAction functionality
  docs/src/pages/docs/2.1.4/api/formik.md
  docs/src/pages/docs/2.1.4/guides/validation.md
  packages/formik/src/Formik.tsx
  packages/formik/src/types.tsx
  packages/formik/test/Formik.test.tsx
Labels: Component: Formik, Type: Enhancement, done

#2796 Fix docs for setValues
  docs/.eslintignore
  docs/.prettierignore
  docs/next.config.js
  docs/package.json
  docs/scripts/build-sitemap.js
  docs/src/components/Banner.tsx
  docs/src/components/Footer.tsx
  docs/src/components/LayoutDocs.tsx
  docs/src/pages/_app.js
  docs/src/pages/blog/[...slug].tsx
  docs/src/pages/docs/2.1.4/api/formik.md
  docs/src/pages/docs/api/formik.md
  docs/tailwind.config.js
  docs/vercel.json
  packages/formik/src/Formik.tsx
  packages/formik/src/types.tsx
Labels: Component: Formik

#2820 fix: validateFormWithLowPriority method not be scheduled correctly
  .changeset/hip-games-sniff.md
  packages/formik/src/Formik.tsx
Labels: Component: Formik

#2255 Add parse, format, formatOnBlur to getFieldProps()
  .changeset/quiet-beans-attack.md
  examples/format-string-by-pattern/README.md
  examples/format-string-by-pattern/index.js
  examples/format-string-by-pattern/package.json
  examples/parse-format/README.md
  examples/parse-format/index.js
  examples/parse-format/package.json
  packages/formik/src/Field.tsx
  packages/formik/src/Formik.tsx
  packages/formik/src/utils.ts
  packages/formik/test/Field.test.tsx
Labels: Component: Field, Component: Formik, Priority: High
