Repository jaredpalmer/formik, pull requests merged in 2020-11, with the labels that each got.

#2871 docs: add with-material-ui example
  docs/src/manifests/manifest.json
  docs/src/pages/docs/with-react-ui-frameworks/with-material-ui.md
  examples/with-material-ui/README.md
  examples/with-material-ui/index.js
  examples/with-material-ui/package.json
Labels: Type: Examples

#2749 Render optimization
  app/package.json
  app/pages/v3.tsx
  cypress/integration/v3.spec.ts
  packages/formik-codemod/.gitignore
  packages/formik-codemod/README.md
  packages/formik-codemod/bin/cli.ts
  packages/formik-codemod/bin/formik-codemod.ts
  packages/formik-codemod/package.json
  packages/formik-codemod/transforms/__testfixtures__/field-to-legacy-field/name-import.input.js
  packages/formik-codemod/transforms/__testfixtures__/field-to-legacy-field/name-import.output.js
  packages/formik-codemod/transforms/__tests__/field-to-legacy-field.test.js
  packages/formik-codemod/transforms/field-to-legacy-field.ts
  packages/formik-codemod/tsconfig.json
  packages/formik/package.json
  packages/formik/src/Formik.tsx
  packages/formik/src/FormikContext.tsx
  packages/formik/src/StrictField.tsx
  packages/formik/src/connect.tsx
  packages/formik/src/index.tsx
  packages/formik/src/utils.ts
  yarn.lock
Labels: Component: Field, Component: Formik, Focus: Performance

#2916 ci: use github action for stale
  .github/stale.yml
  .github/workflows/stale.yml
Labels: ci

#2810 Update types
  packages/formik/src/types.tsx
Labels: stale
